:root{
  --menuTopBarHeight:2rem;
  --canvasHeight:calc(100vh - 2rem);
  --modalBGColor:white;
  --readableParagraph:76ch;

  --colorDark:#0D1F2D;
  --colorLight:#FAE1DF;
  --colorMain:#546A7B;
  --colorPri:#9EA3B0;
  --colorSec:#E4C3AD;
  --colorShade:rgba(0,0,0,0.1);
  --colorInputPri: var(--colorMain);

  --borderRadius: 3px;
  --paddingElement:0.1rem 0.2rem;

/*Z-Indicies*/
  --zWarning:100;
  --zModal:99;
  --zTooltip:51;
  --zTopBar:50;
  --zWidget:3;
  --zPanel:1;
  --zCanvas:0;
  --zGhost:-1;
}

html,body{
  margin:0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
div{
  box-sizing:border-box;
}
a, button{
  cursor:pointer;
}